/*.harea
    {
        background: #156945;
        position: sticky;
        top: 0;
        z-index: 1000;
        opacity: 0.8;
        margin: 0;
        padding: 0;
    }
    .harea img
        {
            width: 50%;
            height: 80%;
        }
    .harea h1
        {
            text-align: center;
            padding: 40px 0 0 0;
            color: white;
            font-family: 'Russo One', sans-serif;
        }
        .harea ul
            {
                list-style: none;
                margin:0;
				padding: 40px 0 0 0;
            }
        .harea ul li
            {
                float: left;
                font: bold 30px arial;
            }
        .harea ul li a:link,.harea ul li a:visited
            {
                text-decoration:none;
				color: white;
				padding:10px 15px;
				display:block;
            }*/
            .box
                {
                    overflow: hidden;
                }
            .box img
                {
                    width: 50%;
                }
            .box h1
                {
                    font-family: 'Russo One', sans-serif;
                }
.iparea
    {
        padding-bottom: 50px;
    }
.parea h4
    {
        font-family: 'Russo One', sans-serif;
    }
.parea p
    {
        text-align: justify;
        font-family: 'Lora', serif;
    }
.anarea
    {
        text-align: center;
        overflow: hidden;
        padding: 10px 0;
    }
    .anarea img
        {
            transition:all 1s;
        }
    .anarea img:hover
        {
            transform:scale(1.1,1.1);
        }
.farea
    {
        padding: 20px;
        background: black;
        text-align: center;
    }